body{
  font-family: sans-serif;
  padding: 20px;
}
.App{
  border: 1px solid rgba(13, 131, 160, 0.815);

}
#header{
  background-color: rgba(13, 131, 160, 0.815);
}
#breedList{
  margin: auto;
  width: 60%;
}
#breedList > div{
  border: 1px solid rgba(0, 0, 0, 0.158);
  box-shadow: 1px 1px 2px 2px gainsboro;
  max-height: 8vw;
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.123);
}
#breedList > div >img{
  width: 13%;
  aspect-ratio: 2/2;
  margin-right: 15px;
}
h1{
  margin: 0px;
  padding: 20px;
  color: white;
}
button{
  background-color: rgba(13, 131, 160, 0.815);
  color: white;
  padding: 8px 20px;
  font-size: 1.2vw;
  border: none;
  cursor: pointer;
}
input{
  height: 30px;
  width: 100%;
  margin-right: 15px;
  border: 1px solid rgba(128, 128, 128, 0.479);
  padding: 5px;
  font-size: 1.1vw;
}
#searchField{
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: white !important;
}
#selectedBreedName{
  color: black;
}
#descriptionDiv{
  /* border: 1px solid rgba(13, 131, 160, 0.815); */
  padding: 15px;
}
#descriptionDiv > img{
  width: 38%;
  aspect-ratio: 3.5/3;
}
#notFound{
  padding: 30px !important;
}